<header>
    <img src="images/3.png" alt="city Center logo">
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/booknow">Spaces</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <nav>
        <a href="/signin">Sign In</a>
        <a href="/signup">Sign Up</a>
    </nav>
</header>