<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eldoret City Center Parking</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="shortcut icon" href="images/3.png" type="image/x-icon">
</head>
<body>
   <%- include("_header.ejs") %>
    <main>
        <section class="hero">
            <div class="sect-text">
                <h1>Eldoret City Center Parking </h1>
                <p>Park Conviniently in one of our spaces within the city. Get the best services for the best prices within town.</p>
                <a href="/booknow">Book Now</a>
            </div>
            <div class="sect-img">
                <img src="images/2.png" alt="hero image">
            </div>
        </section>
        <section class="sizes">
            <div class="vehicle-size">
                <img src="images/5.png" alt="bike icon">
                <h2>Bikes</h2>
            </div>
            <div class="vehicle-size">
                <img src="images/6.png" alt="car icon">
                <h2>Cars</h2>
                
            </div>
            <div class="vehicle-size">
                <img src="images/7.png" alt="truck icon">
                <h2>Trucks</h2>
            </div>
            <div class="vehicle-size">
                <img src="images/8.png" alt="long truck icon">
                <h2>Long Trucks</h2>
            </div>
        </section>
        <section class="whyus">
            <div class="sect-img">
                <img src="images/1.png" alt="why us image">
            </div>
            <div class="sect-text">
                <h2>Why Park with Us</h2>
                <h3>Safety</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolorem praesentium, saepe laudantium sit possimus.</p>
                <h3>Automated Sytems</h3>
                p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolorem praesentium, saepe laudantium sit possimus.</p>
                <h3>Convinient locations</h3>
                p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolorem praesentium, saepe laudantium sit possimus.</p>
            </div>           
        </section>
     
    </main>
    <%- include("_footer.ejs") %>
</body>
</html>