<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Eldoret City Center Parking</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="shortcut icon" href="images/3.png" type="image/x-icon">
</head>
<body>
   <%- include("_header.ejs") %>
    <main>
        <h1> Sign Up</h1>
        <form action=""></form>
    </main>
    <%- include("_footer.ejs") %>
</body>
</html>