* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a,
  input,
  textarea,
  select,
  button {
    font: inherit;
    text-decoration: none;
    color: inherit;
    padding: 8px 12px;
  }
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  body {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
  }
  header,
  section,
  footer {
    padding: 20px;
  }
  header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
  }
  header img {
    height: 60px;
  }
  header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  header ion-icon {
    font-size: 45px;
  }
  #main-nav {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
  
  #main-nav.open {
    right: 0;
  }
  
  @media (min-width: 767px) {
    header,
    section,
    footer {
      padding: 20px 70px;
    }
    #main-nav {
      display: block;
      position: static;
      width: unset;
      height: unset;
      background-color: transparent;
    }
    #menu-btn {
      display: none;
    }
  }
  
  main {
    margin-top: 70px;
  }
  .hero {
    text-align: center;
  }
  .hero p {
    margin: 30px 0px;
  }
  .hero .btn {
    border: 1px solid black;
    padding: 12px 18px;
    /* margin-bottom: 10px; */
    display: block;
    width: max-content;
    margin: 0 auto;
  }
  @media (min-width: 767px) {
    .hero {
      display: flex;
      align-items: center;
      text-align: start;
      padding-right: 0px;
    }
  }
  
  .sizes {
    display: flex;
    gap: 20px;
  }
  .sizes img {
    /* max-height: 100px; */
  }
  .sizes h2 {
    font-size: 18px;
    text-align: center;
  }
  
  .whyus {
    text-align: center;
  }
  .whyus h3 {
    margin: 18px 0px;
  }
  
  footer {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
    text-align: center;
  }
  footer ion-icon {
    font-size: 24px;
  }
  
  @media (min-width: 767px) {
    .sizes {
      gap: 40px;
    }
    .whyus {
      text-align: start;
      display: flex;
      align-items: center;
    }
    footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }