.locations {
    text-align: center;
  }
  .locations ul {
    display: flex;
    gap: 18px;
    list-style: none;
    flex-wrap: wrap;
   }
  .locations ul li {
    text-align: center;
    border: 1px solid black;
    padding: 16px;
    width: 45%;
    transition: all 0.2s linear;
  }
  .locations ul li:hover{
    transform: translateY(-3px);
  }
  